@import "tailwindcss";

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}

button {
  cursor: pointer;
  outline: none;
  border: none;
}

button:active {
  transform: translateY(1px);
}

button:disabled {
  cursor: not-allowed;
  opacity: 0.65;
}

.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

/* Progress bar thumb */
input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none !important;
  appearance: none !important;
  width: 12px !important;
  height: 12px !important;
  background: white !important;
  border-radius: 50% !important;
  cursor: pointer !important;
}

input[type="range"]::-moz-range-thumb {
  width: 12px !important;
  height: 12px !important;
  background: white !important;
  border-radius: 50% !important;
  border: none !important;
  cursor: pointer !important;
}