@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");

.homepage {
  font-family: "Roboto", sans-serif;
}

.homepage a {
  text-decoration: none;
  color: inherit;
}

.homepage ul {
  list-style: none;
}

.homepage button {
  cursor: pointer;
  outline: none;
  border: none;
  background-color: transparent;
}

.homepage button:active {
  transform: translateY(1px);
}

.homepage button:disabled {
  cursor: not-allowed;
  opacity: 0.65;
}

.homepage .row {
  max-width: 1070px;
  width: 100%;
  margin: 0 auto;
  padding: 0 24px;
}

.homepage section {
  width: 100%;
}

.homepage #landing,
.homepage #features,
.homepage #reviews,
.homepage #numbers,
.homepage #footer {
  display: flex;
  justify-content: center;
  width: 100%;
}

.homepage .section__container {
  padding: 40px 0;
  width: 100%;
}

.homepage .btn {
  background-color: #2bd97c;
  color: #032b41;
  width: 100%;
  height: 40px;
  border-radius: 4px;
  font-size: 16px;
  transition: background-color 200ms;
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 180px;
}

.homepage .btn:hover:not(:disabled) {
  background-color: #20ba68;
}

.homepage .btn:active {
  transform: translateY(1px);
}

.homepage .home__cta--btn {
  max-width: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.homepage .section__title {
  font-size: 32px;
  color: #032b41;
  text-align: center;
  margin-bottom: 32px;
  font-weight: bold;
}

.homepage .nav {
  height: 80px;
}

.homepage .nav__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1070px;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  padding: 0 24px;
}

.homepage .nav__list--wrapper {
  display: flex;
  gap: 24px;
}

.homepage .nav__img--mask {
  max-width: 200px;
}

.homepage .nav__img {
  width: 100%;
  height: 100%;
}

.homepage .nav__list {
  cursor: not-allowed;
  color: #032b41;
  transition: color 100ms;
}

.homepage .nav__list--login:hover {
  color: #2bd97c;
}

.homepage .nav__list--login {
  cursor: pointer;
}

.homepage .landing__wrapper {
  display: flex;
}

.homepage .landing__content {
  width: 100%;
}

.homepage .landing__image--mask {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.homepage .landing__image--mask img {
  width: 100%;
  height: 100%;
  max-width: 400px;
}

.homepage .landing__content__title {
  color: #032b41;
  font-size: 40px;
  font-weight: bold;
  margin-bottom: 24px;
}

.homepage .landing__content__subtitle {
  color: #394547;
  font-size: 20px;
  font-weight: 300;
  margin-bottom: 24px;
  line-height: 1.5;
}

.homepage .features__wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px;
  margin-bottom: 96px;
}

.homepage .features {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.homepage .features__icon {
  display: flex;
  justify-content: center;
  margin-bottom: 8px;
  color: #032b41;
}

.homepage .features__icon svg {
  width: 60px;
  height: 60px;
}

.homepage .features__title {
  font-size: 24px;
  color: #032b41;
  margin-bottom: 16px;
  font-weight: 500;
}

.homepage .features__sub--title {
  font-size: 18px;
  color: #394547;
  font-weight: 300;
}

.homepage .statistics__heading {
  font-size: 32px;
  font-weight: 500;
  color: #6b757b;
  margin-bottom: 16px;
}

.homepage .statistics__heading:last-child {
  margin-bottom: 0;
}

.homepage .statistics__heading--active {
  color: #2bd97c;
}

.homepage .statistics__wrapper {
  display: flex;
  gap: 80px;
  margin-bottom: 96px;
}

.homepage .statistics__wrapper:last-child {
  margin-bottom: 0;
}

.homepage .statistics__content--header {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.homepage .statistics__content--header-second {
  align-items: flex-end;
}

.homepage .statistics__content--details {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 24px;
  background-color: #f1f6f4;
  padding: 40px 24px;
}

.homepage .statistics__data {
  display: flex;
  gap: 16px;
}

.homepage .statistics__data--number {
  color: #0365f2;
  font-size: 20px;
  font-weight: 600;
  margin-top: 4px;
}

.homepage .statistics__data--title {
  font-size: 20px;
  font-weight: 300;
  color: #394547;
}

.homepage .reviews__wrapper {
  max-width: 600px;
  margin: 0 auto;
}

.homepage .review {
  background-color: #fff3d7;
  padding: 16px;
  margin-bottom: 32px;
  border-radius: 4px;
  font-weight: 300;
}

.homepage .review__header {
  color: #032b41;
  display: flex;
  gap: 8px;
  margin-bottom: 8px;
}

.homepage .review__body {
  color: #394547;
  letter-spacing: 0.3px;
  line-height: 1.4;
}

.homepage .review__stars {
  display: flex;
}

.homepage .review__stars svg {
  width: 16px;
  height: 16px;
  fill: #0564f1;
}

.homepage .reviews__btn--wrapper {
  display: flex;
  justify-content: center;
}

.homepage .numbers {
  background-color: #d7e9ff;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 24px;
  padding-bottom: 40px;
  border-radius: 12px;
}

.homepage .numbers__wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px;
}

.homepage .numbers__icon {
  display: flex;
  align-items: center;
  height: 60px;
  gap: 4px;
}

.homepage .numbers__icon svg {
  color: #0365f2;
  width: 48px;
  height: 48px;
}

.homepage .numbers__star--icon svg {
  width: 20px;
  height: 20px;
}

.homepage .numbers__title {
  font-size: 40px;
  color: #032b41;
  font-weight: 600;
  margin-bottom: 16px;
}

.homepage .numbers__sub--title {
  color: #394547;
  font-weight: 300;
}

.homepage #footer {
  background-color: rgb(241 246 244);
}

.homepage .footer__top--wrapper {
  position: relative;
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  margin: 32px auto 64px;
}

.homepage .footer__block {
  z-index: 1;
}

.homepage .footer__link--title {
  font-weight: 600;
  margin-bottom: 16px;
  font-size: 18px;
  color: #032b41;
}

.homepage .footer__link--wrapper {
  margin-bottom: 12px;
  line-height: 1;
}

.homepage .footer__link {
  color: #394547;
  font-size: 14px;
  cursor: not-allowed;
}

.homepage .footer__link--wrapper:last-child {
  margin-bottom: 0;
}

.homepage .footer__copyright--wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.homepage .footer__copyright {
  color: #032b41;
  font-weight: 500;
}

@media (max-width: 768px) {
  .homepage .landing__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    max-width: 540px;
    margin: 0 auto;
  }

  .homepage .landing__image--mask {
    display: none;
  }

  .homepage .landing__content__title {
    font-size: 24px;
  }

  .homepage .features__wrapper {
    grid-template-columns: 1fr;
  }

  .homepage .statistics__wrapper {
    flex-direction: column;
    gap: 32px;
    margin-bottom: 32px;
  }

  .homepage .statistics__heading {
    font-size: 24px;
  }

  .homepage .footer__top--wrapper {
    flex-direction: column;
    gap: 32px;
  }

  .homepage .numbers__wrapper {
    grid-template-columns: 1fr;
  }

  .homepage .statistics__content--details-second {
    order: 1;
  }

  .homepage .statistics__content--header-second {
    align-items: flex-start;
  }

  .homepage .statistics__data--title {
    font-size: 16px;
  }

  .homepage .section__title {
    font-size: 24px;
  }

  .homepage .features__title {
    font-size: 20px;
  }

  .homepage .features__sub--title {
    font-size: 14px;
  }

  .homepage .features__icon svg {
    width: 48px;
    height: 48px;
  }

  .homepage .review__body {
    font-size: 14px;
  }

  .homepage .numbers__wrapper {
    gap: 24px;
  }

  .homepage .numbers__title {
    font-size: 32px;
  }

  .homepage .numbers__sub--title {
    font-size: 14px;
  }

  .homepage .remove--tablet {
    display: none;
  }
}

@media (max-width: 576px) {
  .homepage .nav__list--mobile {
    display: none;
  }
}
